* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    border: 10px solid transparent;
    padding: 5px 10px;
}

.button:hover {
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#gray {
    background-color: gray;
}